In [1]:
import pandas as pd

In [4]:
peru = pd.read_csv(r"PATH", sep=";")  # Because for some reason ";" in a csv is better

In [4]:
peru['FECHA_CORTE'] = pd.to_datetime(peru['FECHA_CORTE'], format='%Y%m%d').dt.strftime('%Y-%m-%d')  # Reformat their dates

In [7]:
peru['FECHA_RESULTADO'] = pd.to_datetime(peru['FECHA_CORTE'], format='mixed').dt.strftime('%Y-%m-%d')

In [8]:
peru.to_csv(r"PATH",sep=',')  # Save with generic corrections

In [9]:
peru

,FECHA_CORTE,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO,UBIGEO,id_persona
0,2024-12-03,TUMBES,TUMBES,TUMBES,AG,46.0,FEMENINO,2024-12-03,240101.0,203499.0
1,2024-12-03,LIMA,LIMA,JESUS MARIA,AG,69.0,FEMENINO,2024-12-03,150113.0,221397.0
2,2024-12-03,SAN MARTIN,MOYOBAMBA,MOYOBAMBA,AG,55.0,FEMENINO,2024-12-03,220101.0,295651.0
3,2024-12-03,AREQUIPA,CAYLLOMA,COPORAQUE,AG,50.0,MASCULINO,2024-12-03,40506.0,851625.0
4,2024-12-03,LIMA,LIMA,JESUS MARIA,AG,58.0,MASCULINO,2024-12-03,150113.0,287786.0
...,...,...,...,...,...,...,...,...,...,...
4585355,2024-12-03,LIMA,LIMA,JESUS MARIA,AG,21.0,MASCULINO,2024-12-03,150113.0,NaN
4585356,2024-12-03,LIMA,LIMA,EL AGUSTINO,AG,22.0,MASCULINO,2024-12-03,150111.0,NaN
4585357,2024-12-03,LIMA,LIMA,ATE,AG,22.0,MASCULINO,2024-12-03,150103.0,NaN
4585358,2024-12-03,LIMA,LIMA,SAN MARTIN DE PORRES,AG,22.0,MASCULINO,2024-12-03,150135.0,NaN
4585359,2024-12-03,LIMA,LIMA,CARABAYLLO,AG,22.0,MASCULINO,2024-12-03,150106.0,NaN